/** 
 * Position
 */

	.t-position-relative {
		position: relative;
	}

	.t-position-abosloute {
		position: abosloute;
	}

	.t-position-static {
		position: static;
	}

	.t-position-fixed {
		position: fixed;
	}