/**
 * Text weight
 */

	.t-text-weight-300 {
		font-weight: 300;
	}

	.t-text-weight-400 {
		font-weight: 400;
	}

	.t-text-weight-500 {
		font-weight: 500;
	}	

	.t-text-weight-bold {
		font-weight: bold;
	}