/**
 * Text Transform
 */

	/**
	 * Uppercase
	 */
		
		.t-text-transform-uppercase {
			text-transform: uppercase;
		}

	/**
	 * Lower Case
	 */
	
		.t-text-transform-lowercase {
			text-transform: lowercase;
		}

	/**
	 * Capitalize
	 */
	
		.t-text-transform-capitalize {
			text-transform: capitalize;
		}	